*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    width: 100%;
}
.container{
    margin: 0 10%;
}
.btn{
    padding: 10px 30px;
    border: #be9c6a 1px solid;
    background-color: rgba(255, 255, 255,0);
    border-radius: 5px;
    color: #be9c6a;
}
.menu-btn{
    display: none;
}
/*Header*/
header{
    background-color: #3c3c3c;
}
.header{
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #be9c6a;
    font-size: 3rem;
}
.phone{
    color: #be9c6a;
}
nav{
    width: 100%;
}
nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
nav a,
nav a:focus {
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    color:black;
    text-decoration: none;
}
nav li{
    text-align: center;
    width: 180px;
    border-right: 1px solid lightgray;
    padding: 10px 0;
}
nav li:hover, .active{
    background-color: whitesmoke;
    border-bottom: 5px lightslategray solid;
}
/*Main*/
/* Banner */
.banner{
    background-image: url(../img/sliders_3_0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    margin-top: 0;
}

.item-description{
    font-size: 1.7rem;
    line-height: 1.5;
    position:absolute;
    width:400px;
    height:auto;
    border:1px solid #fff;
    text-align:center;
    right:10%;
    top:500px;
    padding:20px 10px;
    color: white;
    background-color: rgba(190, 156, 106, 0.5);
}
.item-description a{
    font-size: 1.2rem;
    color: inherit;
    text-decoration: none;
}
.item-description a:hover{
    text-decoration: underline;
}

/* Slides */
.flex-center{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
}
figure{
    height: auto;
    text-align: center;
    width: 50%;
}
figure img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}
figcaption{
    text-align: center;
    padding: 10px;
    min-height: 100px;
    font-size: 1.2rem;
}

/* Facilities */
.flex-wrap{
    flex-wrap: wrap;
}
.flex-wrap figure{
    flex-shrink: 1;
    width: 380px;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
}
.flex-wrap figcaption{
    font-size: 1.2rem;
}

.title{
    color: #be9c6a;
    font-size: 1.5rem;
    padding: 20px;
}

.btn-more{
    margin-top: 30px;
    font-size: 1.5rem;
    background-color: #5f5d5d;
    color: #be9c6a;
    width: 200px;
}
/* Feedback */
.feedback{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.feedback h2{
    font-size: 2rem;
}
.feedback p{
    padding: 50px;
    font-size: 2rem;
    width: 70%;
    font-style: italic;
}

/*Footer*/
footer{
    background-color: #5f5d5d;
    padding: 20px 0;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-top{
    color: white;
    padding: 20px 0;
    text-align: center;
    max-width: 70%;
}
.flex-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: #3c3c3c;
    height: 100px;
    font-size: 1.5rem;
}
.social{
    color: #be9c6a;
}
footer h3{
    color: #be9c6a;
    font-size: 1.5rem;
}
footer ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
}
footer a{
    font-family: "Open Sans", sans-serif;
    font-size: .9rem;
    color:inherit;
    text-transform: uppercase;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer li{
    text-align: center;
    width: 180px;
    padding: 5px 0;
}
.left-foot{
    display: flex;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: #be9c6a;
  }
  
  .fa-twitter {
    color: #be9c6a;
  }
  
  .fa-youtube {
    color: #be9c6a;
  }
  
  .fa-instagram {
    color: #be9c6a;
  }

@media only screen and (max-width: 1011px){
    .flex-wrap figure{
        width: 90%;
        height: auto;
    }
}
@media only screen and (max-width: 930px){
    .logo{
        font-size: 2rem;
    }
    .header{
        height: auto;
        padding: 10px 0;
    }
    #list-menu{
        display: none;
        position: absolute;
        z-index: 50;
        width: auto;
        background-color: #3c3c3c;
        right: 0;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    nav li{
        text-align: center;
        width: 250px;
        padding: 15px 0;
    }
        
    nav li:hover, .active{
        background-color: #5f5d5d;
        border-bottom: 5px #767575 solid;
    }
    .menu-btn{
        display: block;
        width: 50px;
        cursor: pointer;
    }
    .phone{
        display: none;
    }
    .about{
        display: none;
    }
    .mobile-cont{
        margin: 0 2%;
        margin-top: 50px;
    }
    header .mobile-cont{
        margin-top: 0;
    }

    .item-description{
        top: 300px;
        right: 5%;
        width: 90%;
        height: 300px;
        font-size: 3rem;
    }
    .item-description a{
        font-size: 2rem;
    }

    .flex-center{
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }
    .flex-wrap figure{
        width: 100%;
        height: auto;
    }
    figure{
        width: 100%;
        height: auto;
    }
    figure img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 15px;
    }
    figcaption{
        text-align: center;
        padding: 10px;
    }
  }
  @media only screen and (max-width: 850px){
    .left-foot{
        flex-wrap: wrap;
    }
    
    footer ul{
        margin-top: 20px;
    }

    .feedback p{
        padding-top: 30px;
        width: 100%;
    }
  }
  @media only screen and (max-width: 515px){
    .feedback p{
        padding-top: 30px;
        font-size: 1.3rem;
        width: 100%;
    }
    .item-description{
        top: 20%;
        right: 5%;
        width: 90%;
        height: 420px;
    }
  }